.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.low-prio {
  color: green;
}
.high-prio {
  color: red
}

.input-default{
  border-color: black;
}
.input-recommended {
  border-color: green;
}
.input-invalid {
  border-color: red;
}

.box-alert {
  background: red; 
  padding: 25px;
  border-color: orange;
  color: white; 
  border-radius: 25px;
}
.box-info {
  background: gray; 
  padding: 25px;
  border-color: black ;
  color: black; 
  border-radius: 25px;
}